<h3>Navigation</h3>
	<NavLink class="nav-link" href="counter">
		<span class="oi oi-plus" aria-hidden="true"></span> Counter
	</NavLink>
	<NavLink class="nav-link" href="fetchdata">
		<span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
	</NavLink>

@code {

}
