/* --------------- Variables -------- */
:root {
    --primary-color: white;
    --primary-font-color: black;
    --secondary-color: red;
    --hover-color: #e9ecef;
    --nav-padding: 1rem;
}

.page {
display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "navigation"
        "main"
        "footer";
    min-height: 100vh;
}



/* -------------- Global ----------*/
* {
    /*    border: 1px dotted black;*/
    font-family: 'Times New Roman', Times, serif;
}

.title-group {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "title-image titlepage language-selector membersportal";
    text-decoration: none;
}
    .title-group:hover {
        color: var(--primary-font-color);
        text-decoration: none;
    }

/*--------- Text title top page ---------------*/
.titlepage {
    grid-area: titlepage;
    text-align: center;
    font-weight: bold;
}
.titlepage:hover {
    text-decoration: none;
    color: var(--primary-font-color);

}

.title-image {
    grid-area: title-image;
    /* Add any additional styling for the logo, such as max-width, max-height, or object-fit, if needed */
}
.language-selector {
    grid-area: language-selector;
}

.membersportal {
    grid-area: membersportal;
}

main {
grid-area: main;
    padding: 1rem;
}


/*----------- All a tag link*/
a {
    text-decoration: none;
    color: var(--primary-font-color);
}

.nav-container {
    grid-area: navigation;
    padding: 1rem;
}

.navbar {
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: red;
}
    .navbar ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
    }
    .navbar a.active, a:hover {
        color: var(--primary-font-color);
        border-top: 3px solid black;
    }


.navbar-item {
    text-decoration: none;
    color: rgb(111, 111, 111);
    padding: 0.5rem 1rem;
    margin: 0 5px;
}

    .navbar-item:hover {
        background-color: #e9ecef;
        text-decoration: none;
        color: #212529;
    }

/* Remove bullet (dot) from the list */
.no-bullet {
    list-style-type: none;
    padding-left: 0;
}



.img-big {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

/* ------------ Login form + overlay -----------*/
.hidden {
    display: none;
}

.log-in-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-in-form {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Disable pointer events on elements when the overlay is visible */
#loginOverlay:not(.hidden) ~ * {
    pointer-events: none;
}

/* -------------- Footer --------------- */
footer {
grid-area: footer;
    padding: 1rem;
}


.custom-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "footer-part1 footer-part2";
}

.footer-part1{
    grid-area: footer-part1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-part2 {
grid-area: footer-part2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-media-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10rem;
}
    .social-media-footer a {
        color: rgb(172, 172, 172);
        padding: 1rem;
        border-top: 35px solid black;
    }

.contactinfo-footer {
    background-color: black;
    color: rgb(172, 172, 172);
    padding: 1rem;

}
.contactinfo-footer a {
    color: rgb(172, 172, 172);
}
  








/* Responsive layout for mobile devices */
@media (max-width: 767px) {
    .title-group {
        grid-template-columns: 1fr;
        grid-template-areas:
            "language-selector"
            "title-image"
            "titlepage"
            "membersportal";
        /* align all areas in center */
        justify-items: center;
    }
    .custom-footer {
        grid-template-columns: 1fr;
        grid-template-areas:
            "footer-part1"
            "footer-part2";
        justify-items: center;
    }


}
