/* --------------- Variables -------- */
:root {
    --primary-color: white;
    --primary-font-color: black;
    --secondary-color: red;
    --hover-color: #e9ecef;
    --nav-padding: 1rem;
}

.page {
display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "navigation"
        "main"
        "footer";
    min-height: 100vh;
}



/* -------------- Global ----------*/
* {
    /*    border: 1px dotted black;*/
    font-family: Arial,Helvetica,sans-serif;
}

.title-group {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "title-image titlepage language-selector membersportal";
    text-decoration: none;
}
    .title-group:hover {
        color: var(--primary-font-color);
        text-decoration: none;
    }

/*--------- Text title top page ---------------*/
.titlepage {
    grid-area: titlepage;
    text-align: center;
    font-weight: bold;
}
.titlepage:hover {
    text-decoration: none;
    color: var(--primary-font-color);

}

.title-image {
    grid-area: title-image;
    /* Add any additional styling for the logo, such as max-width, max-height, or object-fit, if needed */
}
.language-selector {
    grid-area: language-selector;
}

.membersportal {
    grid-area: membersportal;
}

main {
grid-area: main;
    padding: 1rem;
}


/*----------- All a tag link*/
a {
    text-decoration: none;
    color: var(--primary-font-color);
}

.nav-container {
    grid-area: navigation;
    padding: 1rem;
}

.navbar {
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: red;
}
    .navbar ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
    }
    .navbar a.active, .navbar a:hover {
        color: var(--primary-font-color);
        border-top: 3px solid black;
    }



.navbar-item {
    text-decoration: none;
    color: rgb(111, 111, 111);
    padding: 0.5rem 1rem;
    margin: 0 5px;
}

    .navbar-item:hover {
        background-color: #e9ecef;
        text-decoration: none;
        color: #212529;
    }

/* Remove bullet (dot) from the list */
.no-bullet {
    list-style-type: none;
    padding-left: 0;
}
.custom-list {
    list-style-type: none; /* Remove default bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

    .custom-list li {
        position: relative; /* Required for the positioning of the ::before pseudo-element */
        padding-left: 20px; /* Add some left padding to make room for the dash */
    }

        .custom-list li::before {
            content: "-"; /* Add a dash */
            position: absolute;
            left: 0; /* Position the dash at the beginning of the li element */
            top: 0; /* Align the dash with the li element text */
        }
/* ------------ Login form + overlay -----------*/
.hidden {
    display: none;
}

.log-in-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-in-form {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Disable pointer events on elements when the overlay is visible */
#loginOverlay:not(.hidden) ~ * {
    pointer-events: none;
}


/*---------------- Forside (index) -------------- */
.index-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "forside-part1"
        "forside-part2"
        "forside-part3";
    max-width: 1000px;
    margin: 0 auto;
}

.img-big {
}


/* ----------------- Kurs page ---------------- */


.kurs-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "kurs-part1"
        "kurs-part2"
        "kurs-part3";
    max-width: 1000px;
    margin: 0 auto;
}

.kurs-page1 {
grid-area: kurs-part1;
    display: grid;
grid-template-columns: 1fr 1fr;
grid-template-areas: "kurs-text kurs-image";
}

.kurs-page2 {
grid-area: kurs-part2;
    display: grid;
grid-template-columns: 1fr 1fr;
grid-template-areas: "kurs-image kurs-text";
}

.kurs-page3 {
grid-area: kurs-part3;
    display: grid;
grid-template-columns: 1fr 1fr;
grid-template-areas: "kurs-text kurs-image";
}

.kurs-text {
    grid-area: kurs-text;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kurs-text ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.kurs-image {
    grid-area: kurs-image;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* --------------- Simulering ------------------ */

.simulering-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "simulering-part1"
        "simulering-part2"
        "simulering-part3";
    max-width: 1000px;
    margin: 0 auto;
}

.simulering-part1 {
grid-area: simulering-part1;
    display: grid;
grid-template-columns: 1fr 1fr;
grid-template-areas: "simulering-text simulering-image";
}

.simulering-part2 {
grid-area: simulering-part2;
    display: grid;
grid-template-columns: 1fr 1fr;
grid-template-areas: "simulering-image simulering-text";
}

.simulering-part3 {

grid-area: simulering-part3;
    display: grid;
grid-template-columns: 1fr 1fr;
grid-template-areas: "simulering-text simulering-image";
}


.simulering-text {
    grid-area: simulering-text;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

    .simulering-text ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }

.simulering-img {
grid-area: simulering-image;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ----------------- Konsultasjon ------------- */

.konsultasjon-page {
    display:grid;
grid-template-columns: 1fr;
grid-template-areas:
    "konsultasjon-part1"
    "konsultasjon-part2"
    "konsultasjon-part3";
max-width: 1000px;
margin: 0 auto;
}

.konsultasjon-part1 {
    grid-area: konsultasjon-part1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "konsultasjon-image konsultasjon-text";
    margin-bottom: 1rem;
}

.konsultasjon-part2 {
    grid-area: konsultasjon-part2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "konsultasjon-text konsultasjon-image";
    margin-bottom: 1rem;
}

.konsultasjon-part3 {
    grid-area: konsultasjon-part3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "konsultasjon-text"
        "konsultasjon-image";
    margin-bottom: 1rem;
}

.konsultasjon-text {
    grid-area: konsultasjon-text;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
}

.konsultasjon-img{
    grid-area: konsultasjon-image;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Scale after screen size*/
    width: 100%;
}
.konsultasjon-text .text-center{
    text-align: center;
}
.konsultasjon-img .img-center{
    margin: 0 auto;
}


/* ---------------- Om oss ---------------- */

.om-oss-page {
    display:grid;
grid-template-columns: 1fr 1fr;
grid-template-areas:
    "om-oss-part1 om-oss-part2"
}

.om-oss-part1 {
    grid-area: om-oss-part1;
    display: flex;
    flex-direction:column;
    max-width: 450px;
    /* Move the text to the right part of the section*/
    margin-left: auto;


}
.about-zolw-h3{
font-size: 1.2rem;
    font-weight: bold;
    color: rgb(51, 51, 51);
    margin: 1rem;
    text-align: center;
}
.about-zolw-p {
    color: rgb(51, 51, 51);
    margin: 1rem;
    text-align: center;
}
.zolw-products-h3{
font-size: 1.2rem;
    font-weight: bold;
    color: rgb(51, 51, 51);
    margin: 1rem;
    text-align: center;
}
.zolw-products-p {
    color: rgb(51, 51, 51);
    text-align: center;
}



.om-oss-part2 {
    grid-area: om-oss-part2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.card {
    background-color:rgb(249, 249, 249);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "card-image card-text";
    padding: 1rem;
    margin: 1rem;
    max-width: 400px;
}
.card-image{
    grid-area: card-image;
border-radius: 50%;
}
.card-text{
grid-area: card-text;
}
.card-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(51, 51, 51);
}
.job-title {
    color: rgb(162, 35, 10);
    font-size: 1.2rem;
    font-weight: bold;
}
.about-person {
    font-size: 1rem;
    text-align: left;
    color: rgb(133, 133, 133);
}


/* -------------- Footer --------------- */
footer {
grid-area: footer;
    padding: 1rem;
}


.custom-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "footer-part1 footer-part2";
}

.footer-part1{
    grid-area: footer-part1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-part2 {
grid-area: footer-part2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-media-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10rem;
}
    .social-media-footer a {
        color: rgb(172, 172, 172);
        padding: 1rem;
        border-top: 35px solid black;
    }

.contactinfo-footer {
    background-color: black;
    color: rgb(172, 172, 172);
    padding: 1rem;

}
.contactinfo-footer a {
    color: rgb(172, 172, 172);
}
.mobile-view {
    grid-area: navigation;
    background-color: black;
    padding: 0.5rem;
    border-radius: 5px;
    padding-bottom: 0.7rem;
}
/* Hamburger menu styles */
.mobile-nav-container {

    position: relative;
}
.navbar-toggler {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    top: 10px;
    right: 10px;
}


.navbar-toggler-icon {

    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: white;
    position: relative;
}

    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color:white;
        left: 0;
    }

    .navbar-toggler-icon::before {
        top: -8px;
    }

    .navbar-toggler-icon::after {
        top: 8px;
    }

.mobile-nav-container .collapse {
    display: none;
}

.mobile-nav-container .navbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mobile-nav-container .navbar-item {
    text-align: center;
    width: 100%;

}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999;
}

    .overlay.active {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .overlay .navbar {
        flex-direction: column;
    }

    .overlay .navbar-item {
        color: #ffffff;
        font-size: 24px;
        margin-bottom: 15px;
        color: white;
    }
    .overlay .navbar a.active {
        color: blue;
    }

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 50px;
    background: none;
    border: none;
    color: white; /* Change this to match your design */
    cursor: pointer;
}

    .close-btn:focus {
        outline: none;
    }





/* Responsive layout for mobile devices */
@media (max-width: 767px) {
    body {
        font-size: 16px;
        line-height: 1;
    }

    .title-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "title-image navigation"
            "titlepage titlepage";
        /* align all areas in center */
        justify-items: center;
        align-items: center;
    }
    .language-selector{
        display: none;
    }
    .title-image{
grid-area: title-image;
        width: 100%;
        height: auto;
    }
    .titlepage{
        grid-area: titlepage;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .membersportal{
display: none;
    }
    .navbar-toggler {
        display: block;
    }
    .overlay .navbar {
    }
    .overlay .navbar ul {
        flex-direction: column;
    }
    .overlay .navbar li {
        margin-bottom: 1rem;
    }
    .index-page {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "forside-part1"
            "forside-part2"
            "forside-part3";
        max-width: 100%;
        margin: 0 auto;
        padding: 0 15px; /* Add some padding on the left and right sides for better spacing on small screens */
        grid-gap: 15px; /* Add some gap between grid items for better spacing on small screens */
    }
        .index-page img {
            max-width: 100%;
            height: auto;
        }



    .kurs-page {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .kurs-page img {
        max-width: 100%;
        height: auto;
    }

    .kurs-page1, .kurs-page2, .kurs-page3 {
        grid-template-columns: 1fr;
        grid-template-areas:
            "kurs-text"
            "kurs-image";
    }

    .kurs-text, .kurs-image {
        padding: 0px;
    }


    .kurs-page img {
        max-width: 100%;
        height: auto;
    }

    .kurs-page1, .kurs-page2, .kurs-page3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .kurs-text {
        flex: 1;
    }

    .kurs-image {
        max-width: 100%;
        height: auto;
    }


    .simulering-page img {
        max-width: 100%;
        height: auto;
    }

    .simulering-part1, .simulering-part2, .simulering-part3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .simulering-text {
        flex: 1;
    }

    .simulering-image {
        max-width: 100%;
        height: auto;
    }

        .konsultasjon-page img {
            max-width: 100%;
            height: auto;
        }

    .konsultasjon-part1, .konsultasjon-part2, .konsultasjon-part3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .konsultasjon-text {
        flex: 1;
    }

    .konsultasjon-image {
        max-width: 100%; 
        height: auto; 
    }


    .om-oss-page{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "om-oss-part1"
            "om-oss-part2";
        /* Center */
justify-items: center;
align-items: center;
    }

    .om-oss-part1, .om-oss-part2 {
        padding: 0px;
    }
    .om-oss-part1 {
        margin-left:0;
        margin-right: 0;
    }


    }
    .card {
        background-color: rgb(249, 249, 249);
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "card-image"
            "card-text";
        padding: 1rem;
        margin: 1rem;
        max-width: 400px;
    }

    .card-image {
        grid-area: card-image;
        border-radius: 50%;
    }

    .card-text {
        grid-area: card-text;
    }

    .card-name {
        font-size: 1.5rem;
        font-weight: bold;
        color: rgb(51, 51, 51);
    }

    .job-title {
        color: rgb(162, 35, 10);
        font-size: 1.2rem;
        font-weight: bold;
    }

    .about-person {
        font-size: 1rem;
        text-align: left;
        color: rgb(133, 133, 133);
    }


    .custom-footer {
        grid-template-columns: 1fr;
        grid-template-areas:
            "footer-part1"
            "footer-part2";
        justify-items: center;
    }
    .desktop-view{
display: none;
    }

    
}

/* -------- Desktop view ------------ */
@media (min-width: 768px) {


    .title-group {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title-image titlepage language-selector membersportal";
        /* align all areas in center */
        justify-items: center;
    }

    .mobile-view {
        display: none;
    }
    .custom-footer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "footer-part1 footer-part2";
        justify-items: right;
    }
}
