

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<p role="status">Switch between different words: @currentWord </p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="switchWord">Click me for switching word</button>

@code {
	private int currentCount = 0;
	private string currentWord = "first";

	private string[] words = new string[] { "first", "second" };

	private void IncrementCount()
	{
		currentCount++;
	}

	private void switchWord()
	{
		if (currentWord == "first")
		{
			currentWord = "second";
		}
		else
		{
			currentWord = "first";
		}
	}
}
