@page "/"

<PageTitle>Zolw AS - Rådgiving til solcellebransjen i Norge</PageTitle> 



<div class="index-page">
	<div class="index-part1">
		<img class="img-big" src="/images/Bulb with of solar panel_edited.webp" alt="Bulb with solar panels inside of it" />
	</div>
    <div class="index-part2">
		<NavLink>
			<p>Personvernvilkår</p>
		</NavLink>
		<NavLink>
			<p>Frakt- og leveringbetingelser</p>
		</NavLink>
    </div>
</div>

