@page "/konsultasjon"

<div class="konsultasjon-page">
	<div class="konsultasjon-part1">
		<div class="konsultasjon-text">
			<h3>Ikke alt kan løses bak en datamaskin</h3>
			<p>Derfor blir vi med ut på befaringer og bistår med alt av teknisk kompetanse og erfaring. Vi har god erfaring med å bistå kunder ute og har fått tilbakemeldinger på at det gjør både deg og kunden mer trygg på det solcelleanlegget som skal installeres. I tillegg kan vi stille med måleutstyr og sørge for at inndata til beregninger blir korrekt.</p>
		</div>
		<div class="konsultasjon-img">
			<img src="/images/konsultasjon/The engineers walking in the solar energy panels and discussing the blueprint__edited.webp" />
			</div>
	</div>
	<div class="konsultasjon-part2">
		<div class="konsultasjon-text">
			<p>Vi har erfaring fra en rekke spesielle prosjekter og vet at ikke alt passer inn i et standardisert løsningsforslag. For oss er det viktig å bistå med å finne den beste løsningen for kunden, og gjennom samarbeid med ulike leverandører har vi et bredt produktspekter som gjør at vi kan levere alt du kan tenke deg innenfor solenergi.</p>
			<p>Ønsker du en utredning av hva som er mulig har vi også erfaring fra mulighetsstudier og anbudsskriving der vi bistår med tekniske løsningsforslag samt innsikt i markedet og de priser man kan forvente seg.</p>
		</div>
		<div class="konsultasjon-img">
			<img src="/images/konsultasjon/Utsikten_på_Gaularfjell.webp" />
		</div>
	</div>
	<div class="konsultasjon-part3">
		<div class="konsultasjon-text">
			<p>Vi skal skape verdier for våre kunder ved å bidra til at kundene kan vinne og gjennomføre prosjekter med god kvalitet og riktig pris. Våre kunder skal oppleve oss som en samarbeidspartner som skaper merverdi for dem og deres kunder.</p>
			<p>Våre samarbeidspartnere får hjelp fra start til slutt i et prosjekt, og oppfølging etter overlevering dersom man ønsker det.</p>
			<p>Vi holder oss oppdatert på produkter og regelverk slik at du kan bruke tiden din på drift!</p>
		</div>
		<div class="konsultasjon-img">
			<img  src="/images/konsultasjon/zolw-liggende-rgb.webp" />
		</div>
	</div>

</div>

@code {

}
