@page "/Kurs"

<PageTitle>Zolw AS - Opplæring</PageTitle>


<div class="kurs-page">
	<div class="kurs-page1">
		<div class="kurs-text">
			<p>Vi holder kurs om solceller på Solarskolen. Vi kan også komme til din arbeidsplass og holde et bedriftstilpasset kurs. Kurset deles gjerne inn i to deler, praktisk og teoretisk.</p>
			<p>I den praktiske delen går vi blant annet igjennom: </p>
			<ul>
				<li>Sikkerhet</li>
				<li>Løfting</li>
				<li>Regelverk for arbeid i høyden</li>
				<li>Installasjon</li>
				<li>Punktlast og distribuert last</li>
			</ul>

			<p>I den teoretiske delen går vi blant annet igjennom:</p>
			<ul>
				<li>Solcellemarkedet</li>
				<li>Panelenes oppbygning</li>
				<li>Vekselretteren</li>
				<li>Festemateriell</li>
			</ul>
		</div>
		<div class="kurs-image">
			<img src="/images/kurs/Conference_Meeting_edited.webp" />
		</div>

	</div>
	<div class="kurs-page2">
		<div class="kurs-text">
			<p>Kursene holdes jevnlig og har fått veldig gode tilbakemeldinger. Hver del av kurset tar ca én dag å gjennomføre, men hvis du ønsker et spesialtilpasset kurs til din bedrift setter vi sammen de delene du vil gjennomgå innenfor den tidsrammen som passer for din bedrift.</p>
		</div>
		<div class="kurs-image">
			<img src="/images/kurs/Installing and wiring of stand-alone solar photo voltaic panel system_ Close-up of young e.webp" />
		</div>
	</div>
	<div class="kurs-page3">
		<div class="kurs-text">
			<h3>Kan du det som trengs?</h3>

			<p>Vi tilrettelegger og sørger for at ditt firma får den nødvendige kompetansen. Vi dekker alt fra regelverk til tekniske tips vi har lært gjennom flere år med montering og planlegging av solcelleanlegg.</p>
			<p>Ønsker din bedrift et kurs, ta kontakt på <a href="mailto:post@zolw.no">post@zolw.no</a> eller ring oss på <a href="tlf:0047 649 595 64">64 9595 64</a></p>
		</div>
		<div class="kurs-image">
			<img src="/images/kurs/Female Lecturer.webp" />
		</div>
	</div>
</div>

@code {

}
