@page "/simulering"

<PageTitle>Zolw AS - Simulering</PageTitle> 


<div class="simulering-page">
	<div class="simulering-part1">
		<div class="simulering-text">
			<p> Skal du levere anbud, men tenker at solcelleanlegget kan du for lite om? </p>

​

<p>Vi leser igjennom anbudet og informerer deg om hva som trengs, og bør leveres. Vi har også programvaren som trengs for å simulere solenergianlegget korrekt.</p>

<p>Vi kan behandle og lage 3D-modeller og importere de til simuleringsprogrammet.</p>

<p>Videre leverer vi skyggeberegninger, lastberegninger, DC-tap beregninger og alt annet du måtte trenge i forbindelse med leveransen av solcellleanlegget.</p>
		</div>
		<div class="simulering-img">
			<img src="/images/simulering/Mechanical Engineer's Sketch.webp" />
		</div>
	</div>
	<div class="simulering-part2">
		<div class="simulering-text">
			<p>Vi har utallige timer bak oss i PV*Sol programvaren og kan levere det du trenger.</p>

<p>Vi kan tilpasse anlegg til kundens energiforbruk, sette innmatingsbegrensninger og utføre analyser slik at din kunde får det beste anlegget.</p>

<p>Vi leverer også enklere beregninger, alt tilpasset ditt behov.</p>
		</div>
		<div class="simulering-img">
			<img src="/images/simulering/PVsol energy flow graph__PNG.webp" />
		</div>
	</div>
	<div class="simulering-part3">
		<div class="simulering-text">
			<p>Det er ikke alltid man har tid til å sette seg inn i alle de ulike produsentene sine beregningsprogram.</p>

<p>Da er det jo kjekt at vi har gjort det. Vi har jevnlig kurs med de ledende aktørene innenfor festemateriell og invertere slik at vi holder oss oppdatert på produkter og beregningsprogram.</p>

 

<p>Er du litt usikker på om du har nok ballast eller fester? Eller er du usikker på hvordan du må strenge? Enkelte kunder setter det kanskje som krav også, uansett så er vi her for å hjelpe deg!</p>

​

<p>Ta kontakt på post@zolw.no eller ring oss på 64 9595 64.</p>
		</div>
		<div class="simulering-img">
			<img src="/images/simulering/illustrasjon rapport_PNG.webp" />
		</div>
	</div>
</div>

@code {

}
