@using Microsoft.AspNetCore.Components

<div class="nav-container">
    <nav class="navbar">
        <ul class="no-bullet">
            <li>
                <NavLink class="navbar-item" href="" Match="NavLinkMatch.All">
                   Forside
                </NavLink>
            </li>
            <li>
                <NavLink class="navbar-item" href="kurs">
                    Opplæring
                </NavLink>
            </li>
            <li>

                <NavLink class="navbar-item" href="simulering">
                 Simulering
                </NavLink>
            </li>
            <li>
                <NavLink class="navbar-item" href="konsultasjon">
                   Konsultasjon
                </NavLink>
            </li>
            <li>
                <NavLink class="navbar-item" href="om-oss">
                   Om oss
                </NavLink>
            </li>
            <li>
                <NavLink class="navbar-item" href="logg-in">
                 Login
                </NavLink>
            </li>
        </ul>
        <!-- Add more NavLink components for additional pages here -->
    </nav>
</div>
@code {

}
