
<div class="custom-footer">
	<div class="footer-part1">

	</div>
	<div class="footer-part2">
		<div class="sosial-media-footer">
			<a href="https://www.facebook.com/zolwnorge/"><img src="/images/sosial-media-icons/icons8-facebook-f-ios-16-filled-32.png" /></a>
			<a href="https://www.linkedin.com/company/zolw-as/"><img src="/images/sosial-media-icons/icons8-linkedin-2-windows-11-32.png" /></a>
			<a href="https://www.instagram.com/zolw_norge/"><img src="/images/sosial-media-icons/icons8-instagram-ios-16-32.png" /></a>
		</div>
		<div class="contactinfo-footer">
			<p>#GRØNNLØSNING</p>
			<a href="mailto:post@zolw.no">post@zolw.no</a>
			<a href="tel:+47 649 59 564">+47 649 59 564</a>
		</div>

	</div>

</div>

@code {

}
