@inherits LayoutComponentBase

<PageTitle>web-test-b4n</PageTitle>

<div class="page">
    <NavLink class="title-group" href="">
        <img class="title-image" src="images/zolw-liggende-rgb.webp" alt="Zolw AS" />
        <h1 class="titlepage" >Løsninger for solenergibransjen!</h1>
    </NavLink>
    <div class="top-navigation">
        <CustomNavMenu />
    </div>

    <main>
@*        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
*@
        <article class="content px-4">
            @Body
        </article>
    </main>
    <footer>
        <CustomFooter />
    </footer>
</div>
