@inherits LayoutComponentBase

<PageTitle>Zolw - Etterlignet side</PageTitle>

<div class="page">
    <div class="header-top">
        <div class="title-group">
            <NavLink href="">
                <img class="title-image" src="images/zolw-liggende-rgb.webp" alt="Zolw AS" />
            </NavLink>
            <div class="mobile-view">
                <MobileNavMenu />
            </div>
            <NavLink href="">
                <h1 class="titlepage">Løsninger for solenergibransjen!</h1>
            </NavLink>
            <div class="language-selector">
                <LanguageSelector />
            </div>
            <div class="membersportal">
                <LoginOverlay />
            </div>

        </div>
    </div>

    <div class="desktop-view">
        <CustomNavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <footer>
        <CustomFooter />
    </footer>
</div>
